<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title">
                <h1 class="title">Employees List</h1>
                <button class="btn btn-refresh btn-secondary flex-right" (click)="refreshTableData()">Refresh table
                    data</button>
            </div>
            <div class="crud-toolbar">
                <div class="toolbar-buttons">
                    <!-- Add Delete,  Edit, Unselect buttons -->
                    <button class="btn btn-delete" (click)="deleteEmployees()" title="Delete selected item(s)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-update" (click)="toggleShowEditEmployeeForm()"
                        id="edit-button-selected-employee" title="Edit selected item">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-unselect" (click)="unselectEmployees()" title="Reset selection">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <app-addedit-employee-form *ngIf="showAddEditEmployeeForm" (closeForm)="onCloseButtonClick()"
                    (submissionSuccess)="refreshTableData()" [isEditMode]="true" [selectedEmployee]="selectedEmployee" >
                </app-addedit-employee-form>
                <app-notifications [successMessage]="successMessage" [warningMessage]="warningMessage"
                    [errorMessage]="errorMessage" [infoMessageHtml]="infoMessageHtml"
                    [infoMessage]="infoMessage"></app-notifications>
                <div class="search-bar">
                    <!-- Add search bar here -->
                    <input type="text" [(ngModel)]="searchInput" placeholder="Search" id="search-input"
                        class="search-input" (ngModelChange)="searchEmployees()">
                    <label for="search-input"> <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <!-- Add other headers as needed -->
                        <th>Selected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees" class="employee-row">
                        <td class="employee-id">{{ emp.employeeId }}</td>
                        <td class="employee-department">{{ emp.department}}</td>
                        <!-- Add other data fields as needed -->
                        <td class="employee-selected">
                            <input type="checkbox" [(ngModel)]="emp.isSelected" (change)="setLastSelectedEmployee(emp)"
                                id="checkbox-{{ emp.employeeId }}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-employee-person-list></app-employee-person-list>