<h1>When a radio button is selected</h1>
<div class="employee-list">
    <h3>Employee-Person List</h3>
    <div >
        <button class="btn btn-primary" (click)="toggleShowAddEmployeeForm()">Add Employee</button>
        <div class="add-employee-form-container modal" *ngIf="showAddEmployeeForm">
            <app-add-employee-form (closeForm)="toggleShowAddEmployeeForm()"></app-add-employee-form>
        </div>
    </div>
    <table class="table table-bordered employee-table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Department</th>
                <th>Person ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Joining</th>
                <th>Gender</th>
                <th>Marital Status</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody class="tbody-light">
            <tr *ngFor="let employee of employees; trackBy: trackById" class="employee">
                <td><input type="radio" name="employee" (click)="addPersonToEmployee(employee)"></td>
                <td>{{employee.employeeId}}</td>
                <td>{{employee.department}}</td>
                <!-- Conditional Display for selectedPerson -->
                <ng-container *ngIf="selectedPerson != null && employee.personId == selectedPerson.id">
                    <td>{{selectedPerson.id}}</td>
                    <td>{{selectedPerson.firstName}}</td>
                    <td>{{selectedPerson.lastName}}</td>
                    <td>{{employee.dateOfJoining}}</td>
                    <td>{{selectedPerson.gender}}</td>
                    <td>{{selectedPerson.maritalStatus}}</td>
                    <td>{{selectedPerson.address}}</td>
                    <td>{{selectedPerson.city}}</td>
                    <td>{{selectedPerson.country}}</td>
                    <td>{{selectedPerson.age}}</td>
                    <td>{{selectedPerson.phone}}</td>
                    <td>{{selectedPerson.email}}</td>
                    <td>{{selectedPerson.dateOfBirth}}</td>
                </ng-container>
                <!-- Empty cells for unselected or unmatched employees -->
                <ng-container *ngIf="!(selectedPerson != null && employee.personId == selectedPerson.id)">
                    <td colspan="13"></td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
