<main class="about-page">
    <header>
        <h1>About</h1>
    </header>
    <section class="introduction">
        <h2>Introduction</h2>
        <p>Hello! I'm Ali Safari, a passionate software developer specialized in C#, React, TypeScript, Node.js, and
            .NET environments. Welcome to my GitHub portfolio!</p>
        <p>Here via this Angular project, I showcase my skills and experience in Full Stack software development.
            Angular and ASP.NET Core are main technologies used in this project.</p>
    </section>
    <section class="projects">
        <h2>Featured Projects</h2>
        <p>Below are some of the projects I've worked on. These repositories reflect my skills and dedication to
            software development:</p>
        <ul>
            <li><a href="https://github.com/AliSafari-IT/AngularProject" target="_blank">Project 1</a> - Angular
                project: From Beginner to
                Advanced.</li>
            <li><a href="https://github.com/AliSafari-IT/react-apps" target="_blank">Project 2</a>
                - Next.js Project: from frontend to backend.
                <div>
                    Next.js is an open-source web development framework created by the private company Vercel
                    providing React-based web applications with server-side rendering and static website generation.
                </div>
            </li>

            <!-- Add more projects as needed -->
        </ul>
    </section>
    <section class="contact">
        <div>
            Click <a href="/contact" target="_blank">here</a> to check out my LinkedIn and GitHub.
        </div>
    </section>
    <section class="introduction">
        <h2>Introduction</h2>
        <p>Hello! I'm Ali Safari, a passionate software developer specialized in C#, React, TypeScript, Node.js, and
            .NET environments. Welcome to my GitHub portfolio!</p>
        <p>Here via this Angular project, I showcase my skills and experience in Full Stack software development.
            Angular and ASP.NET Core are main technologies used in this project.</p>

    </section>
    <section class="introduction">
        <h2>Introduction</h2>
        <p>Hello! I'm Ali Safari, a passionate software developer specialized in C#, React, TypeScript, Node.js, and
            .NET environments. Welcome to my GitHub portfolio!</p>
        <p>Here via this Angular project, I showcase my skills and experience in Full Stack software development.
            Angular and ASP.NET Core are main technologies used in this project.</p>

    </section>
    <footer>
        <p>© 2024 Ali Safari. All Rights Reserved.</p>
    </footer>
</main>