<main>
    <header>
        <h1>About</h1>
    </header>
    <main>
        <section class="introduction">
            <h2>Introduction</h2>
            <p>Hello! I'm Ali Safari, a passionate software developer specialized in C#, React, TypeScript, Node.js, and
                .NET environments. Welcome to my GitHub portfolio!</p>
        </section>
        <section class="projects">
            <h2>Featured Projects</h2>
            <p>Below are some of the projects I've worked on. These repositories reflect my skills and dedication to
                software development:</p>
            <ul>
                <li><a href="https://github.com/AliSafari-IT/AngularProject" target="_blank">Project 1</a> - Angular project: From Beginner to
                    Advanced.</li>
                <li><a href="https://github.com/AliSafari-IT/react-apps" target="_blank">Project 2</a>
                    - Next.js Project: from frontend to backend.
                    <div>
                        Next.js is an open-source web development framework created by the private company Vercel
                        providing React-based web applications with server-side rendering and static website generation.
                    </div>
                </li>

                <!-- Add more projects as needed -->
            </ul>
        </section>
        <section class="contact">
            <h2>Contact</h2>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/ali-safari-m/">Ali Safari.</a></p>
            <p>GitHub: <a href="https://github.com/AliSafari-IT">AliSafari-IT</a></p>
        </section>
    </main>
    <footer>
        <p>© 2024 Ali Safari. All Rights Reserved.</p>
    </footer>

</main>