<div class="notifications-container" *ngIf="successMessage || warningMessage || errorMessage || infoMessageHtml || infoMessage">
    <!-- Add success, warning, info and error messages here -->
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="warningMessage" class="alert alert-warning">{{ warningMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="infoMessage" class="alert alert-info">{{ infoMessage }}</div>
    <div *ngIf="infoMessageHtml"  class="alert alert-info-html">
      <pre [innerHTML]="infoMessageHtml?.innerHTML"></pre>
    </div>
  </div>