<nav class="top-menu">
    <div class="float-left btn-group">
        <a class="btn logo" routerLinkActive="active" routerLink="/" href="/">
            <img src="../assets/img/materialui/card1.png"
                title="Full stack Application with Angular and DotNet Core Api" width="35px" />
        </a>
        <!-- Dynamic Menu Items -->
        <a *ngFor="let item of navItems" class="btn {{item.active? 'active': ''}}" (click)="toggleActive(item)" routerLink="{{item.route}}">
            {{ item.title }}
        </a>
    </div>
</nav>



<router-outlet></router-outlet>