<article class="article-col-1">
    <h1>Change Log</h1>
    <div class="recent-changes">
        <h2>Blog posts & Recent Changes</h2>

        <div class="change-date">2024-01-16 - Part 2 [<a
                href="https://github.com/AliSafari-IT/AngularProject/tree/form-handling" target="_blank">Git branch:
                form-handling</a>]</div>
        <h4 class="change-title">Enhanced Person Management Functionality in Angular App</h4>
        <ol>
            <li><strong>Refactored :</strong> 'PersonFormComponent' for adding and editing persons.</li>
            <ul>
                - Integrated 'SharedService' for managing selected person data.
                <li><strong>Implemented:</strong> efficient form submission logic with 'preparePersonData',
                    'updatePerson', and 'addPerson' methods. </li>
                <li><strong>Improved:</strong> form population for edit mode with 'populateForm'.</li>
                <li><strong>Enhanced:</strong> error handling and success response management.</li>
                <li><strong>Added:</strong> ID and DateOfBirth controls to the form with default values and proper
                    formatting.</li>
            </ul>
            <li><strong>Updated:</strong> 'PersonsListComponent' for displaying persons data.</li>
            <ul>
                <li><strong>Added:</strong> event emitters for edit, delete, and view details actions. </li>
                <li><strong>Implemented:</strong> edit person functionality to open 'PersonFormComponent' in edit mode.
                </li>
                <li><strong>Improved:</strong> person search functionality.</li>
                <li><strong>Streamlined:</strong> event handling for list and form interactions.</li>
            </ul>
            <li><strong>Introduced:</strong> 'SharedService' for state management.</li>
            <ul>
                <li>Created a shared service for managing the state of the selected person.</li>
                <li>Utilized BehaviorSubject for reactive state management.</li>
            </ul>
            <li><strong>General Improvements:</strong> </li>
            <li>Optimized imports and dependencies across components and services.</li>
            <li>Cleaned up unused methods and streamlined event handling.</li>
            <li>Enhanced user interface responsiveness and interaction flow between person list and edit form.</li>
            <ul>
            </ul>
        </ol>

        <div class="notes">
            <h5 class="notes-title">Notes:</h5>
            <div class="notes-content">
                Hold onto your hats, folks, because we just turbocharged our Angular app's person management system! 🚀<br>
                First up, the 'PersonFormComponent' isn't just refactored; it's reborn! We've integrated the 'SharedService' to juggle person data like a circus artist. 🎪 And the form submission logic? It's smoother than a jazz saxophonist, thanks to our new 'preparePersonData', 'updatePerson', and 'addPerson' methods. 🎷<br>
                Editing a person is now as intuitive as scrolling through your favorite playlist, all thanks to the 'populateForm' method. And our error handling? It's so robust it could lift weights! 🏋️‍♂️ Plus, we've added nifty ID and DateOfBirth controls, because who doesn't love a bit of order and precision? 📅<br>
                The 'PersonsListComponent' got a makeover too. It's not just showing data; it's a full-on interactive experience with new event emitters. Editing a person is now a breeze, like opening a door to a new world. 🌍 And the person search functionality? You'll find people faster than finding Waldo! 🔍<br>
                Our 'SharedService' is the new hero in town, managing state like a boss with its BehaviorSubject cape. 🦸‍♂️<br>
                And let's not forget the general improvements - we've cleaned house, optimized imports, and streamlined our event handling. It's like giving your app a spa day; it's now refreshed, rejuvenated, and ready to impress. 💆‍♂️<br>
                In short, we've not just enhanced our app; we've taken it to a whole new level of awesome. Get ready to manage persons in style! 🌟
            </div>
        </div>

        <div class="change-date">2024-01-16 - Part 2 [<a
                href="https://github.com/AliSafari-IT/AngularProject/tree/form-handling" target="_blank">Git branch:
                form-handling</a>]</div>
        <h4 class="change-title">Enhance Persons List Component with Search and Deletion Confirmation</h4>
        <ul>
            <li><strong>Enhance:</strong> Persons List Component with Search and Deletion Confirmation.</li>
            <li><strong>Added:</strong> search functionality to the 'PersonsListComponent'.</li>
            <li><strong>Implemented:</strong> a confirmation dialog for person deletion using 'MatDialog'.</li>
            <li><strong>Enhanced:</strong> deletion logic to include success notifications and real-time UI updates.
            </li>
            <li><strong>Integrated:</strong> two-way data binding with 'ngModel' for dynamic search filtering.</li>
            <li><strong>Improved:</strong> the Persons List display with dynamic column headers.</li>
            <li><strong>Added:</strong> conditional display logic for action button texts in the person list.</li>
            <li><strong>Handled:</strong> various states like 'no results found' and 'n results found'.</li>
            <li><strong>Styled:</strong> the no-results message for better visibility and user experience.</li>
            <li><strong>Refactored:</strong> and optimized the person search logic for efficiency.</li>
        </ul>
        <div class="notes">
            <h5 class="notes-title">Notes:</h5>
            <div class="notes-content">
                These changes significantly improve the user experience by allowing easier management and interaction with
                person records, along with providing a more dynamic and responsive interface. <br>
                The 'PersonsListComponent' has been enhanced with search functionality, deletion confirmation, and real-time
                UI updates. <br>
                The search functionality is integrated with two-way data binding with 'ngModel' for dynamic filtering.</div>
            <br>
        </div>

        <div class="change-date">2024-01-16 - Part 1</div>
        <h4 class="change-title">Implement Persons List Component with Delete Functionality</h4>
        <ul>
            <li><strong>Added:</strong> the <code>PersonsListComponent</code> to display a list of persons.</li>
            <li><strong>Implemented:</strong> the deletion of persons with real-time UI updates.</li>
            <li><strong>Integrated:</strong> <code>PersonService</code> for fetching and deleting person records.</li>
            <li><strong>Enhanced:</strong> the UI with conditional display of action button texts.</li>
            <li><strong>Improved:</strong> accessibility and responsiveness of the person list table.</li>
            <li><strong>Added:</strong> error handling for API requests and user-friendly notifications.</li>
            <li><strong>Prepared:</strong> placeholders for future edit and detail view functionalities.</li>
            <li><strong>Styled:</strong> the person list with CSS for a clean and modern layout.</li>
        </ul>

        <div class="notes">
            <h5 class="notes-title">Notes:</h5>
            <div class="notes-content">
                These changes improve the user experience by allowing easier management and interaction with person records,
                along with providing a more dynamic and responsive interface. <br>
                The 'PersonsListComponent' has been enhanced with delete functionality, and real-time UI updates.
            </div>
        </div>

        <div class="change-date">2024-01-15</div>
        <ul>
            <li><strong>Refactor:</strong> Add new employee form with validation 'form-handling' [asafarim]</li>
            <li><strong>Implement:</strong> a reactive form for adding person details.</li>
            <li><strong>Include:</strong> client-side validation for the form fields.</li>
            <li><strong>Style:</strong> the form for a modern, responsive layout.</li>
            <li><strong>Update:</strong> service to handle new form data submission.</li>
        </ul>

        <div class="notes">
            <h5 class="notes-title">Notes:</h5>
            <div class="notes-content">
                This update is like giving your project a double shot of espresso. We're not just adding employees; we're revolutionizing the way you do it! 🚀<br>
                First off, we've got a new, reactive form for adding person details. It's not just any form - it's like a smart assistant, helping you out with those pesky validations on the client side. Think of it as your friendly neighborhood form, keeping errors at bay. 🛡️<br>
                And style? Oh, we've got style. The form now sports a modern, responsive layout. It's like we took it to a fashion show, and it came back with a runway-ready look. 💃
            </div>
        </div>

        <div class="change-date">2024-01-14</div>
        <ul>
            <li><strong>Merge:</strong> branch 'angular-material' [asafarim]</li>
            <li><strong>Implement:</strong> Angular Material components to enhance the UI. [asafarim]</li>
            <li><strong>Modified:</strong> CrewControl/src/app/app.component.ts [asafarim]</li>
            <li><strong>Merge:</strong> branch 'page-routing' [asafarim]</li>
            <li><strong>Modified:</strong> CrewControl/src/app/app.routes.ts [asafarim]</li>
            <li><strong>Merge:</strong> branch 'develop' into page-routing [asafarim]</li>
            <li><strong>Deleted:</strong> CrewControl/.gitignore [asafarim]</li>
            <li><strong>Merge:</strong> branch 'frontend' into develop [asafarim]</li>
        </ul>

        <div class="notes">
            <h5 class="notes-title">Notes:</h5>
            <div class="notes-content">
                These changes improve the user experience by allowing easier management and interaction with person records,
                along with providing a more dynamic and responsive interface. <br>
                The 'PersonsListComponent' has been enhanced with delete functionality, and real-time UI updates.
            </div>
        </div>

        <div class="change-date">2024-01-13</div>
        <ul>
            <li><strong>Refactor:</strong> Transform Add Employee Form into Reusable Component for Edit Functionality
                [asafarim]</li>
        </ul>

        <div class="change-date">2024-01-10</div>
        <ul>
            <li><strong>Enhancement:</strong> Move to components folder [asafarim]</li>
            <li><strong>Feature:</strong> Implement CRUD Delete Functionality and UI Enhancements [asafarim]</li>
        </ul>
        <div class="change-date">2024-01-09</div>
        <ul>
            <li><strong>Improvement:</strong> Enhance Deletion Logic and Info Messaging in EmployeesListComponent
                [asafarim]</li>
            <li><strong>Refactor:</strong> EmployeesListComponent for Enhanced Search Functionality [asafarim]</li>
            <li><strong>UI Update:</strong> Enhance Employee List UI with CRUD Toolbar and Search Functionality
                [asafarim]</li>
            <li><strong>Documentation:</strong> Updated ChangeLog with recent changes [asafarim]</li>
            <li><strong>Feature:</strong> Implement employee data synchronization across components [asafarim]</li>
        </ul>
        <h3>2024-01-07</h3>
        <ul>
            <li><strong>Backend & Frontend Integration</strong>:
                <ul>
                    <li>Add backend controller and frontend fetch methods to display Employee & Person details</li>
                    <li>Add GetPerson action to PersonsController [asafarim]</li>
                </ul>
            </li>
        </ul>

        <h3>2024-01-06</h3>
        <ul>
            <li><strong>Reorganization</strong>: Reorganized code to create full stack application with Angular and
                DotNet core webapi and Add people component to app component [asafarim]</li>
            <li><strong>Restart</strong>: Restarted project [asafarim]</li>
        </ul>

        <h3>2024-01-05</h3>
        <ul>
            <li><strong>Initialization</strong>: Add new angular app: MyApp [asafarim]</li>
        </ul>

        <h3>2024-01-04</h3>
        <ul>
            <li><strong>UI Enhancement</strong>: Implement frontend data display in table format with enhanced CSS
                styling [asafarim]</li>
        </ul>

        <h3>2024-01-03</h3>
        <ul>
            <li><strong>Merge</strong>: Merge branch 'develop' into frontend [asafarim]</li>
            <li><strong>Enhancements & Fixes</strong>:
                <ul>
                    <li>Add search functionality to EmployeeController</li>
                    <li>Fix null reference exception in EmployeeService.AddEmployeeAsync</li>
                    <li>Refactor Employee entity model for better clarity</li>
                    <li>Update README with new API endpoints documentation</li>
                    <li>Optimize query performance in GetAllEmployeesAsync method</li>
                    <li>Add unit tests for new search API in EmployeeController [asafarim]</li>
                </ul>
            </li>
        </ul>

        <h3>2024-01-02</h3>
        <ul>
            <li><strong>Tooling</strong>: Add UpdateChangeLog.ps1 [asafarim]</li>
            <li><strong>Documentation</strong>: Updated ChangeLog with recent changes [asafarim]</li>
            <li><strong>Backend Implementation</strong>: Implement Backend with MSSQL Database Integration, including:
                <ul>
                    <li>Creation of ASP.NET Core Web API project structure</li>
                    <li>Setup of Entity Framework Core with MSSQL database connection</li>
                    <li>Implementation of a basic GET endpoint for database connectivity and retrieval operations
                        [asafarim]</li>
                </ul>
            </li>
        </ul>
        <div class="notes">
            <h5 class="notes-title">Notes:</h5>
            <div class="notes-content">
                Attention, code wranglers! 🤠 We've just spiced up our project with some nifty updates that'll make your coding life a whole lot smoother. <br>
                First off, in the tooling department, we've added a shiny new 'UpdateChangeLog.ps1'. Think of it as your personal diary keeper, meticulously noting down every little change. It's like having a meticulous librarian for your code! 📚<br>
                Speaking of change logs, ours just got a fresh update. It's now so up-to-date, it practically writes the news! 🗞️ Stay in the loop with all our recent shenanigans – no detective work required.<br>
                Now, let's talk backend – because we've gone full tech gourmet here. We've whipped up an ASP.NET Core Web API project structure that's as well-organized as a bento box. 🍱 And our Entity Framework Core? It's now cozying up with an MSSQL database, offering a connection smoother than a chocolate fountain. 🍫<br>
                But wait, there's more! We've also implemented a basic GET endpoint. This little gem is like the Sherlock Holmes of database connectivity and retrieval operations, solving data mysteries with just a few clicks. 🔍<br>
                In a nutshell, our latest updates are like a triple espresso shot for the project – energizing, powerful, and guaranteed to keep things running at full speed. Buckle up, because it's going to be a thrilling ride in the world of code! 🚀
            </div>
        </div>
    </div>
</article>