<article>
    <h1 class="title">Learn Angular: From Beginner to Advanced</h1>
    <p>Project name: CrewControl</p>
    <div class="progress-bar-container">
        <label for="studyProgress">Study Progress:</label>
        <progress id="studyProgress" value="30" max="100"></progress>
        <span>30%</span>
    </div>
    <h2 class="sub-title">Project Idea: Employee Management System</h2>
    <p>This project is designed to help us advance from a beginner to an advanced level in Angular, covering a wide
        range of features and complexities.</p>

    <ol class="main-list">
        <li class="main-item">
            <h3 class="main-item-title">Basic Setup and CRUD Operations</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Create a simple application to manage employee records.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>List all employees</li>
                        <li>Add a new employee</li>
                        <li>Edit an existing employee</li>
                        <li>Delete an employee</li>
                    </ul>
                </li>
                <li class="item-concluded">
                    <div>
                        <strong>Concepts to Learn</strong>: Angular CLI, Components, Modules, Data Binding, Directives,
                        Services,
                        HTTP Client, and basic Routing.
                    </div>
                    <div class="tick-box"> &#10004; </div>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <h3 class="main-item-title">Angular Material</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Enhance the user interface with Angular Material components.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Implement Angular Material components to enhance the UI. Click on the link below.
                            <a href="/material/components" target="_blank">Angular Material Examples</a>
                        </li>

                    </ul>
                </li>
                <li class="item-concluded">
                    <div>
                        <strong>Concepts to Learn</strong>: Angular Material Components.
                    </div>
                    <div class="tick-box"> &#10004; </div>
                </li>

            </ul>
        </li>
        <li class="main-item">
            <h3 class="main-item-title">Angular Router and Navigation</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Navigate between different views in the application.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Implement routing using Angular Router.</li>
                        <li>Implement navigation using Angular Navigation.</li>
                        <!-- Brief Explanation of  -->
                        <li>
                            <h4>Lazy Loading</h4>
                            Angular's lazy loading optimizes web apps by loading components on-demand, reducing initial
                            load time and improving performance. It's especially beneficial for large applications,
                            enhancing user experience by loading features only when needed. Example pages: <a
                                href="/employees-list" target="_self">Employees List</a> and <a href="/contact"
                                target="_self">Contact</a>
                        </li>

                    </ul>
                </li>
                <li class="item-concluded">
                    <div>
                        <strong>Concepts to Learn</strong>: Angular Router, Angular Navigation.
                    </div>
                    <div class="tick-box"> &#10004;</div>
                </li>
            </ul>
        </li>
        <li class="main-item">
            <h3 class="main-item-title">Form Handling and Validation</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Implement forms to add and edit employee details.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Use reactive forms for better scalability.</li>
                        <li>Implement client-side validation.</li>
                    </ul>
                </li>
                <li class="item-concluded">
                    <div>
                        <strong>Concepts to Learn</strong>: Reactive Forms, Form Validation, Custom Validators.
                    </div>
                    <div class="tick-box"> &#8230;</div>
                </li>
            </ul>
        </li>

        <li class="main-item">
            <h3 class="main-item-title">State Management and Service Calls</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Manage the application state and handle asynchronous operations.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Use services to interact with a mock backend (JSON-server or Firebase).</li>
                        <li>Implement a state management solution (like NgRx or NGXS).</li>
                    </ul>
                </li>
                <li><strong>Concepts to Learn</strong>: Observables, RxJS, State Management Patterns, Angular Services,
                    and
                    Backend Integration.</li>
            </ul>

        <li class="main-item">
            <h3 class="main-item-title">Advanced Routing and Lazy Loading</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Optimize the application by implementing advanced routing features.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Set up lazy-loaded modules for different features.</li>
                        <li>Implement route guards for authorization.</li>
                    </ul>
                </li>
                <li><strong>Concepts to Learn</strong>: Advanced Routing, Lazy Loading, Route Guards, Dynamic Routes.
                </li>
            </ul>
        </li>
        <li class="main-item">
            <h3 class="main-item-title">Internationalization and Accessibility</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Make the application accessible to a wider audience.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Implement internationalization (i18n) to support multiple languages.</li>
                        <li>Ensure the application is accessible (a11y) to users with disabilities.</li>
                    </ul>
                </li>
                <li><strong>Concepts to Learn</strong>: i18n, Accessibility Standards, Angular CDK.</li>
            </ul>
        </li>
        <li class="main-item">
            <h3 class="main-item-title">Testing and Debugging</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Write tests and debug the application.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Write unit tests for components and services.</li>
                        <li>Write end-to-end tests.</li>
                        <li>Use Angular DevTools for debugging.</li>
                    </ul>
                </li>
                <li><strong>Concepts to Learn</strong>: Jasmine, Karma, Protractor, Angular Testing Utilities, Debugging
                    in
                    Angular.</li>
            </ul>
        </li>
        <li class="main-item">
            <h3 class="main-item-title">Performance Optimization and Best Practices</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Optimize the application for performance.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Implement change detection strategies.</li>
                        <li>Use trackBy with ngFor for efficient rendering.</li>
                        <li>Optimize bundle size and use lazy loading.</li>
                    </ul>
                </li>
                <li><strong>Concepts to Learn</strong>: Change Detection, OnPush Strategy, Performance Profiling,
                    Angular
                    Best
                    Practices.</li>
            </ul>
        </li>
        <li class="main-item">
            <h3 class="main-item-title">Advanced Features and Patterns</h3>
            <ul class="ul-group">
                <li><strong>Objective</strong>: Explore advanced Angular features.</li>
                <li><strong>Features</strong>:
                    <ul class="sub-group">
                        <li>Use Angular Elements to create Web Components.</li>
                        <li>Implement dynamic component loading.</li>
                        <li>Explore advanced RxJS patterns.</li>
                    </ul>
                </li>
                <li><strong>Concepts to Learn</strong>: Angular Elements, Dynamic Component Loader, Advanced RxJS,
                    Custom
                    Directives.</li>
            </ul>
        </li>
    </ol>

    <h2 class="sub-title">Tips for the Learning Journey</h2>
    <ul>
        <li><strong>Incremental Learning</strong>: Start with basic concepts and gradually move to advanced topics.</li>
        <li><strong>Documentation</strong>: Regularly refer to the Angular official documentation.</li>
        <li><strong>Community and Resources</strong>: Engage with the Angular community, follow blogs, and use resources
            like Angular University or Udemy courses.</li>
        <li><strong>Practice</strong>: Apply what we learn by adding new features or refactoring parts of the project.
        </li>
        <li><strong>Real-World Scenarios</strong>: Simulate real-world scenarios in the project to understand the
            practical applications of concepts.</li>
    </ul>

    <p class="description">By working through this project, we'll cover most aspects of Angular and gain practical
        experience valuable for
        using Angular in a professional setting.</p>

</article>