.item-concluded {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgb(6, 32, 148);

}

.tick-box {
    width: 2cm;
    height: 2cm;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: rgb(6, 32, 148);

}

.main-list {
    list-style-type: decimal;
    padding: 5px 20px;

    .main-item {
        background-color: #f2f2f2;
        /* Light gray background */
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 5px;
        /* Rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Subtle shadow */
    }

    .main-item-title {
        color: #0f3a02;
        /* Dark text color */
        margin-top: 0;
    }

    .ul-group {
        padding-left: 20px;
        /* Indentation for the nested list */
    }

    .ul-group li {
        color: #4d1010;
        /* Slightly lighter text color for list items */
        margin-bottom: 10px;
        /* Space between list items */
    }

    .sub-group {
        list-style-type: '►';
        /* Style for nested list items */
        padding-left: 10px;
        /* Further indentation for nested lists */
    }

    .sub-group li {
        color: #555;
        /* Slightly lighter text color for sub-items */
    }

}

.progress-bar-container {
    width: 100%;
    max-width: 400px;
    /* Set a max-width for the progress bar container */
    margin: 20px;
    font-family: Arial, sans-serif;
}

.progress-bar-container label {
    display: block;
    /* Ensure the label is on its own line */
    margin-bottom: 5px;
    font-weight: bold;
}

#studyProgress {
    width: 100%;
    /* Full width of the container */
    height: 20px;
    /* Height of the progress bar */
    -webkit-appearance: none;
    /* Removes default styling in WebKit browsers */
    appearance: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    /* Rounded corners */
}

#studyProgress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
}

#studyProgress::-webkit-progress-value {
    background-color: #007bff;
    /* Progress indicator color */
    border-radius: 5px;
}

#studyProgress::-moz-progress-bar {
    background-color: #007bff;
    border-radius: 5px;
}

.progress-bar-container span {
    margin-left: 10px;
    font-size: 0.9em;
    vertical-align: middle;
}

.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }   
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }
  