.person-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.person-table {
    width: 100%;
    border-collapse: collapse;
}

.person-table th,
.person-table td {
    padding: 8px;
    font-size: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.person-table th {
    font-size: 14px;
    /* Adjust font size for headers */
}

.theader {
    background-color: #f2f2f2;
}

.person-table tr:hover {
    background-color: #f5f5f5;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1px;

}
.actions button {
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions .edit {
    background-color: #17a2b8;
    color: white;
}

.actions .delete {
    background-color: #dc3545;
    color: white;
}

.actions .details {
    background-color: #28a745;
    color: white;
}

.actions button:hover {
    opacity: 0.8;
}

.fa {
    margin-left: 5px;
}

.person-list header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.person-list .search-bar {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.person-list header h2 {
    margin: 0;
}

.showIfViewIsWide {
    display: none;
  }
  
  .no-person-found {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #e41212;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  /* Shows text alongside icons on larger screens */
  @media screen and (min-width: 768px) {
    .showIfViewIsWide {
      display: inline;
    }
  }
  
/* Responsive Table */
@media screen and (max-width: 768px) {
    .person-table, .person-table thead, .person-table tbody, .person-table th, .person-table td, .person-table tr {
      display: block;
    }
  
    .person-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    .person-table tr {
      margin-bottom: 10px;
    }
  
    .person-table td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: right;
    }
  
    .person-table td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }
    .fa {
        margin-left: 0px;
    }
    .person-table td:nth-of-type(1):before { content: "First Name:"; }
    .person-table td:nth-of-type(2):before { content: "Last Name:"; }
    .person-table td:nth-of-type(3):before { content: "Email:"; }
    .person-table td:nth-of-type(4):before { content: "Actions:"; }
    .actions .showIfViewIsWide {
        display: none;
        padding: 0;
        margin: 0;
    }
  }