<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Employees List</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Department</th>
                        <!-- Add other headers as needed -->
                        <th>Selected</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let emp of employees" class="employee-row">
                        <td class="employee-id">{{ emp.employeeId }}</td>
                        <td class="employee-department">{{ emp.department}}</td>
                        <!-- Add other data fields as needed -->
                        <td class="employee-selected"><input type="checkbox" [(ngModel)]="emp.isSelected"></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-employee-person-list></app-employee-person-list>


