<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Employees List</h1>
            <div class="crud-toolbar">
                <div class="toolbar-buttons">
                    <!-- Add Delete,  Edit, Unselect buttons -->
                    <button class="btn btn-delete" (click)="deleteEmployees()">Delete</button>
                    <button class="btn btn-update" (click)="editEmployees()"
                        id="edit-button-selected-employee">Edit</button>
                    <button class="btn btn-unselect" (click)="unselectEmployees()">Unselect All</button>
                </div>
                <div class="crud-notifications" *ngIf="successMessage || warningMessage || errorMessage || infoMessage">
                    <!-- Add success, warning, info and error messages here -->
                    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
                    <div *ngIf="warningMessage" class="alert alert-warning">{{ warningMessage }}</div>
                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
                    <div *ngIf="infoMessage" class="alert alert-info">{{ infoMessage }}</div>
                </div>
                <div class="search-bar">
                    <!-- Add search bar here -->
                    <input type="text" [(ngModel)]="searchInput" placeholder="Search" id="search-input"
                        class="search-input" (ngModelChange)="searchEmployees()">
                    <label for="search-input"> <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Employee ID</th>
                        <th>Department</th>
                        <!-- Add other headers as needed -->
                        <th>Selected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employees" class="employee-row">
                        <td class="employee-id">{{ emp.employeeId }}</td>
                        <td class="employee-department">{{ emp.department}}</td>
                        <!-- Add other data fields as needed -->
                        <td class="employee-selected">
                            <input type="checkbox" [(ngModel)]="emp.isSelected" (change)="setLastSelectedEmployee(emp)"
                                id="checkbox-{{ emp.employeeId }}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-employee-person-list></app-employee-person-list>